:root{
    --primary-color:#008080;
    --padding: 20px;
    --text-color: #fff;
    --boder-radius:7px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    width: 100vw;
}

header{
    background: var(--primary-color);
    padding: var(--padding);
    color: var(--text-color);
}
header h1{
   font-size: 36px; 
}
main{
    min-height: 80vh;
    padding: var(--padding);
    max-width: 800px;
    margin: 0 auto;
}
main form{
    display: flex;
    justify-content: center;
}
form input[type="text"]{
    flex-grow: 1;
}
form input[type="text"], 
button[type="submit"]{
    border: 1px solid grey;
    font-size: 18px;
    font-weight: 500;
    border-radius: var(--boder-radius);
    padding: calc(var(--padding)/2);
    transition: 0.5s ease-in-out;

}
form button[type="submit"]{
    background: var(--primary-color);
    color: var(--text-color);
    margin-left: 10px;
}
form button[type="submit"]:hover{
    transform: scale(1.2);
    background-color: skyblue;
    cursor: pointer;
    border-color: yellowgreen;
    margin-left: 20px;
}
footer{
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: var(--padding);
    text-align: center;
    font-size: 18px;
    position: fixed;
    width: 100%;
}
.result {
    background-color: #fff;
    padding: var(--padding);
    border-radius: var(--boder-radius);
    margin-top: 20px;
    box-shadow: 0px 0px 10px rbga(0, 0, 0, 0.2);
}
.result p{
    margin-top: 10px;

}
.result p[class="partOfSpeech"]{
    font-style: italic;
    color: #808080;
    margin-top: 2px;
}
.result div a{
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  transition: 0.5s ease-in-out;
  font-size: 16px;
   padding: 10px;
   margin-top:20px;
   transition: 0.5s ease-in-out;
   display: inline-block;
   border: 1px solid gray;
}
.result div a:hover{
    transform: scale(1.2);
    background-color: skyblue;
    cursor: pointer;
    border-color:  yellowgreen;
    border-radius: 2px;
    box-shadow: 0px 0px 20px rgba(154, 0, 0, 0.3);
   
}
.result div{
    margin-top: 20px;
}
.result li{
    padding: calc(var(--padding)/6);
    margin-left: 20px;
}
@media screen and (max-width:320px){
    main form{
      flex-direction: column;
      display: flex;
    }
    form button[type="submit"]{
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
    }
}